<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="magicbox.asia.magicboxtest"
    android:versionCode="9"
    android:versionName="1.0.9" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="magicbox.asia.magicboxtest.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="magicbox.asia.magicboxtest.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="magicbox.asia.magicboxtest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="magicbox.asia.magicboxtest.InAppActivity" />
        <activity android:name="com.facebook.LoginActivity" />
        <activity android:name="magicbox.asia.magicboxsdk.FacebookActivity" />
        <activity android:name="magicbox.asia.magicboxsdk.MagicBoxDashboardActivity" 
           android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity android:name="magicbox.asia.magicboxsdk.MagicBoxLoginActivity"/>

        <receiver android:name='magicbox.asia.magicboxsdk.MagicBoxGCMBroadcastReceiver' android:permission='com.google.android.c2dm.permission.SEND'>
            <intent-filter>
                <action android:name='com.google.android.c2dm.intent.RECEIVE'/>
                <action android:name='com.google.android.c2dm.intent.REGISTRATION'/>
                <category android:name='magicbox.asia.magicboxsdk'/>
            </intent-filter>
        </receiver>
        
        <!-- <service android:name="magicbox.asia.magicboxtest.GCMIntentService"></service> -->
        <service android:name='magicbox.asia.magicboxsdk.MagicBoxGCMIntentService'/>
        <service android:name='magicbox.asia.magicboxsdk.MagicBoxDashboard'/>
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
        <meta-data android:name="magicbox.asia.sdk.ApplicationId" android:value="@string/game_id" />
        <meta-data android:name="magicbox.asia.sdk.DefaultLanguage" android:value="th" />
    </application>

</manifest>